<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/trip']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{trip.name}}</h2></mat-card-title>
    <mat-card-subtitle><h2>{{trip.createdAt}}</h2></mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="row">
  <label class="col col-form-label">{{ markers?.length }} Markers</label>

<!--<ul class="marker__list" *ngIf="markers?.length">
  <li class="marker" *ngFor="let marker of markers">
    {{ marker.getLatLng() }} 
  </li>
</ul>-->

</div>


<div class="card bg-light">
  <div class="card-body">

    <div style="height: 300px;"
	 leaflet 
	 [leafletOptions]="options">
      <div *ngFor="let m of markers" [leafletLayer]="m"></div>
    </div>

  </div>
</div>
<button (click)="createMarker(1,1)">Add Marker</button>
